:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --main-title-color: #DB00FF;
  --accent-text-color: #FF0070;
  --card-title-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
}

:root.theme-dark .header__decor {
  display: flex;
}