/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body.
  Он удобен, чтобы составлять селекторы для разных цветовых тем. */

  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  block-size: max(668px, 100dvb);
  padding: var(--padding-page);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: var(--padding-page);
  right: var(--padding-page);
  display: block;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: var(--padding-page);
  left: var(--padding-page);
  display: block;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.header__decor {
  position: absolute;
  top: var(--padding-page);
  right: calc(var(--padding-page) + 9px);
  display: flex;
  align-items: center;
  gap: var(--indent-small);
  color: var(--accent-color);
  text-transform: uppercase;
}

.header__decor::after {
  content: '';

  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2.5px var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  color: var(--accent-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--indent-small);
}

.header__theme-menu-item {
  width: 4.375rem;
  height: 1.625rem;
}

.header__theme-menu-button {
  width: 100%;
  height: 100%;
  text-transform: lowercase;
  background-color: transparent;
  border: 1px solid transparent;
  line-height: 1;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom-color: currentColor;
}

.header__theme-menu-button_active {
  border-color: currentColor;
}

.title {
  color: var(--main-title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--accent-color);
  text-transform: lowercase;
}

.content-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--indent-large);
  padding-block: var(--indent-section);
  padding-inline: var(--padding-page);
}

.content-section:first-child {
  padding-block-start: var(--end-indent-section);
}

.content-section:last-child {
  padding-block-end: var(--end-indent-section);
}

.section-title {
  color: var(--accent-color);
  font-size: inherit;
}

.section-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--indent-large);
}

.card__title {
  font-size: inherit;
  margin-bottom: var(--indent-small);
}

.card:has(.card__list) > .card__title {
  margin-bottom: var(--indent-large);
}

.card__list .card__title {
  font-weight: normal;
}

.card__text {
  
}

.card__list-item:not(:last-child) {
  margin-bottom: var(--indent-large);
}

.content-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
  border-bottom: 1px solid transparent;
}

.content-link:focus {
  outline: none;
}

.content-link:focus-visible {
  outline: 1px solid currentColor;
}

/* повышенная специфичность, чтобы всегда оставалась одна колонка */

.gallery.content-section {
  grid-template-columns: 1fr;
}

.gallery {
  gap: var(--indent-small);
}

.gallery__image-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--indent-small);
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: max(668px, 100dvb);
}

/* вниз ради каскада */

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-color);
  font-weight: bold;
}

@media (hover: hover) {
  .header__theme-menu-button:hover {
    border-color: color-mix(in srgb, currentColor 40%, transparent);
  }

  .content-link:hover {
    border-color: currentColor;
  }
}

@media (width >= 768px) {
  :root {
    --padding-page: var(--indent-large);
    --indent-section: 40px;
    --end-indent-section: 60px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    margin-left: calc(var(--padding-page) * -1);
  }

  .header__text {
    max-width: 50%;
    justify-self: end;
  }

  .content-section {
    grid-template-columns: 1fr 2fr;
  }

  .hindrance .section-list {
    grid-column: 1 / -1;
  }

  .gallery {
    gap: var(--indent-large);
  }

  .gallery__image-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    gap: var(--indent-large);
  }

  .gallery__image:nth-of-type(1) {
    grid-column: span 2;
  }

  .gallery__image:nth-of-type(2) {
    grid-row: span 2;
  }

  .gallery__image:nth-of-type(3) {
    grid-row: span 2;
  }

  .gallery__image:nth-of-type(5) {
    grid-column: span 2;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .content-section {
    grid-template-columns: repeat(3, 1fr);
  }

  .difficulties .section-list,
  .advices .section-list {
    grid-column: 2 / -1;
  }

  .hindrance .section-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
